SUPABASE_URL=SUPABASE_URL
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=SUPABASE_SERVICE_ROLE_KEY
STORAGE_BUCKET=STORAGE_BUCKET
WHATSAPP_API_KEY=WHATSAPP_API_KEY
WHATSAPP_PHONE_ID=WHATSAPP_PHONE_ID
